[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
xmltodict = "*"
"iso8601" = "*"
pymongo = "*"
feedgen = "*"
flask = "*"
gunicorn = "*"
apscheduler = "*"
pyyaml = "*"
pytz = "*"
slackclient = "*"
pyshp = "*"
pillow = "*"
pyproj = "*"
shapely = "*"
unwetter = {editable = true,path = "."}

[dev-packages]
pytest = "*"
pytest-tap = "*"

[requires]
python_version = "3.6"
