[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
xmltodict = "*"
"iso8601" = "*"
pymongo = "*"
feedgen = "*"
flask = "*"
gunicorn = "*"
apscheduler = "*"
pyyaml = "*"
pytz = "*"
slackclient = "*"
pyshp = "*"
pillow = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.6"
