@import "../../util/variables";
@import "../util/Common.module";

.configurator {
  flex-grow: 1;
  margin: 8 * $unit;
}

.paper {
  padding: 4 * $unit;
  position: relative;

  margin: {
    bottom: 4 * $unit;
  }

  button {
    margin: {
      right: 4 * $unit;
    }
  }
}

a.downloadButton {
  text: {
    decoration: none;
  }
}

.image {
  display: block;

  max: {
    width: 100%;
  }
}

.error {
  background-color: #d32f2f !important;
}
